<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Unordered list with Bootstrap nav and nav-pills classes for styling -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <!-- Navigation link to the home route, highlighted as active if on the home page -->
        <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <!-- Navigation link to the Add Task route -->
        <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://goldbiz.finvedik.com" target="_blank">goldbizzlink</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container mt-5"> <!-- Main content container with top margin -->
  <h1 class="text-center mb-4">ToDo List</h1> <!-- Centered title for the ToDo List -->
  <!-- Placeholder for displaying routed components based on navigation -->
  <router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>

<router-outlet></router-outlet>